@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: #1d1d1f;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin: auto;
    border-left: 2px solid orange;
    border-right: 2px solid orange;
    
}

h1{
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}



.menu{
    display: flex;
    gap: 30px;

    
}


.menu ul{
    list-style: none;
    padding-left: 20px;
    border-left: 1px solid white;
    
}

.menu ul a{
    text-decoration: none;
    color: orange;
}

.section-semini-novos{
    text-align: center;
    font-size: 40px;
    color: rgb(243, 183, 71);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.container{
    background-color: #1d1d1ff5;
    max-height: 100%;
    padding: 50px;
}

.products-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}

.card{
    width:31%;
    margin: 1% 1%;
    padding: 15px;
    
}

.product-image{
    height: 350px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

#img-1{
    background-image: url(..//img/iphone-11-600x600.png);
}

#img-2{
    background-image: url(..//img/iphone-12-600x600.png);
}

#img-3{
    background-image: url(../img/iphone-13-600x600.png);
}

#img-4{
    background-image: url(../img/iphone-xr-600x600.png);
}

#img-5{
    background-image: url(../img/iphone-8-plus-600x600.png);
}

#img-6{
    background-image: url(../img/iphone-11-pro-max-600x600.png);
}

h3{
    color: orange;
    font-size: 21px;
    margin-bottom: 10px;
}

.btn:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
    font-weight: bold;
}

.card p{
    margin-bottom: 10px;
}

.more-size{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.815);
}

.bold {
    font-weight: bold;
    color: white;
}

.bold-1 {
    font-weight: bold;
    color: white;
    font-size: 30px
}

.btn{
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: orange;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}

.parceled-iphone{
    color: white;
}



footer{
    background-color: #3db36b;
    color: #fff;
    border-top: 3px solid #0f642f;
    text-align: center;
    padding: 30px;
}

