@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: #1d1d1f;
    padding: 15px;
    color: #fff;
    border-left: 2px solid orange;
    border-right: 2px solid orange;
    
}

body{
    background-color: #1d1d1f;
}

.container-header{
    display: flex;
    align-items: center;
    gap: 200px;
}


h1{

    text-shadow: 2px 2px 2px black;
}


.menu{
    display: flex;
    gap: 30px;

    
}


.menu ul{
    list-style: none;
    padding-left: 20px;
    border-left: 1px solid white;
    
}

.menu ul a{
    text-decoration: none;
    color: orange;
}

.section-semini-novos{
    text-align: center;
    font-size: 40px;
    color: rgb(243, 183, 71);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.container{
    background-color: #1d1d1ff5;
    max-height: 100%;
    padding: 50px;
}

.products-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}

.card{
    width:31%;
    margin: 1% 1%;
    padding: 15px;
    
}

.product-image{
    height: 350px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

#img-1{
    background-image: url(..//img/iphone-11-600x600.png);
}

#img-2{
    background-image: url(..//img/iphone-12-600x600.png);
}

#img-3{
    background-image: url(../img/iphone-13-600x600.png);
}

#img-4{
    background-image: url(../img/iphone-xr-600x600.png);
}

#img-5{
    background-image: url(../img/iphone-8-plus-600x600.png);
}

#img-6{
    background-image: url(../img/iphone-11-pro-max-600x600.png);
}

h3{
    color: orange;
    font-size: 21px;
    margin-bottom: 10px;
}

.btn:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
    font-weight: bold;
}

.card p{
    margin-bottom: 10px;
}

.more-size{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.815);
}

.bold {
    font-weight: bold;
    color: white;
}

.bold-1 {
    font-weight: bold;
    color: white;
    font-size: 30px
}

.btn{
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: orange;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}

.parceled-iphone{
    color: white;
}

.mid-page{
    background: linear-gradient(orange, rgb(226, 164, 48), rgb(182, 132, 40));
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    gap: 20px;
    justify-content: center;
    color: black;
    padding: 5px;
    font-weight: bold;


}

footer{
    background-color: #000000;
    height: 140px;
}

.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    font-size: 13px;
    gap: 200px;
}

.contato{
    background: linear-gradient(orange, rgb(226, 164, 48), rgb(182, 132, 40));
    text-align: center;
    height: 250px;
    max-width: 500px;
    margin: auto;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-bottom: 20px;

}

.formas-de-contato p{
    
    text-decoration: none;
    color: white;
    margin: auto;
    text-align: center;
    padding: 30px;
}

.formas-de-contato p a{
    border-radius: 5px;
    background-color: #1d1d1f;
    padding: 15px;
    text-decoration: none;
    color: white
}

.formas-de-contato p a span{
    text-align: center;
    justify-items: center;
    padding: 10px;
}

.formas-de-contato a:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

/* Mobile */

@media (max-width: 450px) {
    .container-header{
        flex-direction: column;
        height: auto;
        gap: 20px;

    }
}